<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinateCenterLatitude</key>
	<real>13.722983</real>
	<key>coordinateCenterLongitude</key>
	<real>100.517845</real>
	<key>maximumLatitude</key>
	<real>20.6</real>
	<key>maximumLongitude</key>
	<real>106.47</real>
	<key>minimumLatitude</key>
	<real>5.5</real>
	<key>minimumLongitude</key>
	<real>96.41</real>
	<key>regionCenterLatitude</key>
	<real>13.774914</real>
	<key>regionCenterLongitude</key>
	<real>101.407656</real>
	<key>regionSpanLatitude</key>
	<real>14.123723</real>
	<key>regionSpanLongitude</key>
	<real>11.212856</real>
</dict>
</plist>
