<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinateCenterLatitude</key>
	<real>3.15608</real>
	<key>coordinateCenterLongitude</key>
	<real>101.709941</real>
	<key>maximumLatitude</key>
	<real>7.7</real>
	<key>maximumLongitude</key>
	<real>119.35</real>
	<key>minimumLatitude</key>
	<real>0.73</real>
	<key>minimumLongitude</key>
	<real>99.33</real>
	<key>regionCenterLatitude</key>
	<real>3.886177</real>
	<key>regionCenterLongitude</key>
	<real>102.23877</real>
	<key>regionSpanLatitude</key>
	<real>4.558606</real>
	<key>regionSpanLongitude</key>
	<real>3.515625</real>
</dict>
</plist>
